.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.header__row {
    padding-top: 30px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header__group-1 {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header__group-2 {
    display: flex;
    gap: 24px;
    align-items: center;
}

.header__text {
    display: flex;
    flex-direction: column;
}

.header__text span {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.01em;
}

.header__btn {
    padding: 21px 61px;
}

.header__shop-btn {
    padding: 6px;
}




