* { padding: 0; margin: 0; border: 0; font-family: inherit; }
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
nav, footer, header, aside { display: block; }
input::-ms-clear { display: none; }
button { cursor: pointer; }
button::-moz-focus-inner { padding: 0; border: 0; }
a { color: var(--white-color); }
a, a:visited, a:hover { text-decoration: none !important; }
a:hover { text-decoration: none; }
ul li { list-style: none !important; }
img { vertical-align: top; }
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
  font-family: 'Helvetica Now Text', sans-serif;
}

html, body {
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Helvetica Now Text', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--white-color);
  background-color: var(--bg-color);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}  

.overflowY-hidden {
  overflow-y: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding-inline: clamp(16px, -0.500rem + 7.50vw, 100px);
}